/* base style */

/* scroll behavior */
html {
    scroll-behavior: smooth; 
}

body {
    background-color: linear (pink,blue,brown);
}
/* style of container */
.container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px ;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
    background-color: rgb(192, 237, 255);
}

.item {
    background-color: rgb(255, 255, 255);
    grid-column-gap: 50px;
    grid-row-gap: 10px; 

}

.item-3 {
    background-color: rgba(245, 187, 41, 0.733);
    border-radius: 10px;
    grid-column: 2/ 3;
    text-align: center;
    align-self: center;
}

.container:hover {
    background-color: rgba(255, 0, 0, 0.521);
    
}

.hug {
    background-color: aliceblue;
    text-align: center;
    align-self: center; 
    grid-row: span 2;
    grid-column: span 1;
    margin-bottom: 185%;
}
.navbar {
    text-align: center;
}
.navbar li a {
    font-family: 'Charm', cursive;
    text-decoration: none;
    text-align: center;
    display: inline;
    font-size: 1.875rem ;
    color:black; 
}
 .navbar li a:hover {
     color: brown;
     background-color: rgba(255, 47, 47, 0.479);
     border-radius: 10px;
 }
ul {
    list-style-type: none;
} 

#gallery,
#about,
#profiles {
    margin-bottom: 2%;
    margin-left: 45%;
    text-align: center;
    color: brown;
    background-color: rgba(255, 47, 47, 0.479);
    border-radius: 10px;
    font-size: 2.56rem;
}

.img {
    text-align: center;
    margin-top: 1%;
}

/* style of up */
.up {
    margin-left: 40%;
    text-decoration: none;
    display: inline;
}
.up a:hover {
    color: tomato;
}
/* end of style */

.footer {
    background-color: rgba(0, 255, 128, 0.479);
    text-align: center;
    align-self: center;
}